[General]
destinationAddress = localhost
port = 25565
password =
# 0 - Verbose (spam), 1 - Info, 2 - Warnings, 3 - Errors, 4 - Only fatal errors
logLevel = 0

[Master]
address = master.tes3mp.com
port = 25561

[Chat]
# Use https://wiki.libsdl.org/SDL_Keycode to find the correct key codes when rebinding
#
# For chatting
keySay = Y
# For enabling or disabling the chat window
keyChatMode = F2
x = 20
y = 40
w = 800
h = 500
# X049 interactive player-menu chat
